{% extends 'index.html' %}
{% block title %}Главная{% endblock %}
{% block body %}

<div class="maincontent">
    <div class="intro">
        <div class="introleft">
            <em><h1>Самые нужные и полезные вам формулы по разным предметам!</h1></em>
            <p><em>У нас ты найдешь множество формул, которые помогут тебе
            выполнять домашние задания. Благодаря им ты поднимешь
            уровень своих знаний,а также хорошо подготовишься к экзаменам!</em>
            </p> 
        </div>
        <img class="kartinka2" src="{{ url_for('static',filename='kartinka.jpg') }}" alt="">
    </div>
    
    <div class="title">
                                  <div class="card">
                                      <h3>Алгебра</h3>
                                      {% for el in data %}
                                      <a href="algeb{{el[0]}}" class="button"><b>{{el[1]}}</b></a>
                                      {% endfor %}
                                  </div>
                                  <div class="card">
                                      <h3>Геометрия</h3>
                                      {% for el in data1 %}
                                      <a href="geometr{{el[0]}}" class="button"><b>{{el[1]}}</b></a>
                                      {% endfor %}
                                  </div>
                                  <div class="card">
                                      <h3>Физика</h3>
                                      {% for el in data2 %}
                                      <a href="fiz{{el[0]}}" class="button"><b>{{el[1]}}</b></a>
                                      {% endfor %}
                                  </div>
                                  <div class="card">
                                      <h3>Информатика</h3>
                                      {% for el in data3 %}
                                      <a href="inf{{el[0]}}" class="button"><b>{{el[1]}}</b></a>
                                      {% endfor %}
                                  </div>
                                  <div class="card">
                                      <h3>Экономика</h3>
                                      {% for el in data4 %}
                                      <a href="eco{{el[0]}}" class="button"><b>{{el[1]}}</b></a>
                                      {% endfor %}
                                  </div>
                                  <div class="card">
                                      <h3>Химия</h3>
                                      {% for el in data5 %}
                                      <a href="chem{{el[0]}}" class="button"><b>{{el[1]}}</b></a>
                                      {% endfor %}
                                  </div>
                                  <div class="card">
                                      <h3>Биология</h3>
                                      {% for el in data6 %}
                                      <a href="bio{{el[0]}}" class="button"><b>{{el[1]}}</b></a>
                                      {% endfor %}
                                  </div>
                                  <div class="card">
                                      <h3>География</h3>
                                      {% for el in data7 %}
                                      <a href="geogr{{el[0]}}" class="button"><b>{{el[1]}}</b></a>
                                      {% endfor %}
                                  </div>
                              </div>
                              <selction id="about">
                              <div class="aboutus" id="about">
                                  <em><h2>О нас</h2></em>
                                  <p>Создание сайта с информацией для 
                                      стремящихся к новым знаниям стало для нас, школьников, важным 
                                      и увлекательным проектом, который решает несколько задач, для таких-же как 
                                      мы ребят.Прежде всего, мы столкнулись с проблемой, когда при 
                                      подготовке к занятиям или выполнении домашних заданий 
                                      порой сложно быстро найти необходимые формулы 
                                      и теоретические материалы. В результате возникла идея 
                                      создать удобную онлайн-платформу, которая бы объединила 
                                      всю эту информацию в одном месте.
                                  </p>
                                  <p>
                                        Наш сайт призван облегчить жизнь другим учащимся,показать,что получение новых
                                      знаний - это весело. 
                                      Он будет полезен как для подготовки к урокам, так и для повторения материала 
                                      перед контрольными и экзаменами. 
                                      А также для подготовки к олимпиадам. 
                                      Мы стараемся сделать навигацию интуитивно понятной, 
                                      чтобы каждый мог быстро находить нужные ему формулы и применять их на практике.
                                  </p>
                                  <p>   Кроме того, процесс создания сайта развивает наши навыки в области программирования 
                                      и веб-дизайна. Мы учимся работать в команде, распределяем задачи и решаем 
                                      возникающие проблемы вместе. 
                                      Этот проект дает реальный опыт в программировании и управления проектами. 
                                      Так мы создаем полезный ресурс и в то же время развиваем свои способности и креативность.</p>
                                </div>
<div>
{% endblock %}